<!DOCTYPE html>
<html lang="en">
<%- include('./include/inc_head.html') %>
<body>
  <div class="wrap">
    <!-- header -->
    <%- include('./include/inc_header.html') %>
    <!-- // -->
    <div class="container">
      <div class="thumbnail">
        <img src="../assets/images/img_temp.jpg">
        <div class="thumbnail__text">
          Your Gulp Project Setting!
        </div>
      </div>
    </div>
    <!-- footer -->
    <%- include('./include/inc_footer.html') %>
    <!-- // -->
  </div>
  <script src="../assets/scripts/common.js"></script>
</body>
</html>